/*
BASE STYLING
*/


html, body{
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body{
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
  font-size: 14px;
  line-height: 2;
}

a{
  color: #90b876;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px dotted;
}

b, strong {
  font-size: 20px;
  color: #90b876;
}

em {
  background: #90b876;
  color: #292d34;
  padding: 5px 10px;
}

blockquote {
  border-left: 2px solid #a0a7b3;
  padding: 10px 0px 10px  30px;
  margin-left: 0px;
  color: #666;
}

blockquote li{
  list-style-type: none;
  font-size: 20px;
  color: #a0a7b3;
}

h1, h2 {
  color: #5187b3;
  margin: 0px;
  padding: 0px;
}

h3, h4 {
  margin-top: 50px;
  margin-bottom: -10px;
}

::selection {
  color: #a0a7b3;
  background: #5187b3;
}

::-moz-selection {
  color: #a0a7b3;
  background: #5187b3;
}

/*
WINDOWS STYLING
*/

div{
  width: 50%;
  height: 100%;
  margin: 0px;
}

#input{
  float: left;
}

#output{
  color: #a0a7b3;
  background: #292d34;
  float: right;
  overflow: scroll;
}

#markdowntext {
  padding:  100px 0px;
  margin: auto;
  width: 90%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#markdowntext img{
  max-width:100%;
}

#markdowntext hr {
  margin: 50px 0px !important;
  height: 0px;
  border: 1px solid;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 50px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: -9px;
  resize: none;
  border: none;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


/*
BUTTON STYLING
*/

input[type=button]{
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.toggletext {
  font-size: 16px;
  background: #272a30;
  color: #a0a7b3;

  float: left;
}
.toggletext:hover{
  background: #181a1f;
}

.close{
  display: none;
}
.expand{
  width: 100%;
}
.expandtext{
  width: 70% !important;
  margin: 0 auto;
}
