/*
BASE STYLING
*/

:root {
  --dark-bg: #1b1d21;
  --medium-bg: #23262b;
  --light-bg: #292d34;
  --dark-text: #555555;
  --light-text: #a0a7b3;
  --green: #90b876;
  --blue:#5187b3;
}

html, body{
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body{
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
  font-size: 14px;
  line-height: 2;
  color: var(--light-text);
  background: var(--light-bg);
}

a{
  color: var(--green);
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px dotted;
}

b, strong {
  font-size: 20px;
  color: var(--green);
}

em {
  background: var(--green);
  color: var(--light-bg);
  padding: 5px 10px;
}

blockquote {
  border-left: 2px solid var(--light-text);
  padding-left:30px;
  margin: 50px 0px;
  color: var(--dark-text);
}

blockquote li{
  list-style-type: none;
  font-size: 20px;
  color: var(--light-text);
}

blockquote li, blockquote ul{
  margin: 0px;
  padding: 0px;
}

h1 {
  color: var(--blue);
  margin: 0px;
  padding: 0px;
}

h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px;
}

ul{
  margin-bottom: 50px;
}

/*
WINDOWS STYLING
*/

.section{
  width: 50%;
  height: 100%;
  margin: 0px;
}

#input{
  float: left;
}

#output{
  float: right;
  overflow: scroll;
}

#markdowntext {
  padding:  75px 0px;
  margin: auto;
  width: 90%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#markdowntext img{
  max-width:100%;
  display: block;
  margin: 75px auto;
}

#markdowntext hr {
  margin: 50px 0px !important;
  height: 0px;
  border: 1px solid;
}

textarea {
  width: 100%;
  height: 75%;
  padding: 50px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: -9px;
  resize: none;
  border: none;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#customColor {
  padding: 20px 50px;
  text-align: center;
  color: white;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#customColor ul{
  margin: 10px auto;
  padding: 0px;
  width: 90%;
  display: block;
  height: 100%;
}

#customColor li{
  margin-right: 10px;
  padding: 0px 5px;
  width: 85px;
  cursor: pointer;
  list-style-type: none;
  float: left;
}

#customColor li:nth-child(1) {
  font-weight: bold;
  color: var(--blue);
}

#customColor li:nth-child(2) {
  color: var(--light-text);
}

#customColor li:nth-child(3) {
  background: var(--green);
  color: var(--light-bg);
}

#customColor li:nth-child(4) {
  background-color: var(--light-text);
  color: var(--light-bg);
}

#customColor li:nth-child(5) {
  color: var(--dark-text);
}

#customColor li:nth-child(6) {
  color: #5d5300;
  background: #eddb46;
  text-align: center;
}

#customColor li:nth-child(6):hover {
  background: #5d5300;
  color: #eddb46;
}

/*
BUTTON STYLING
*/

input[type=button]{
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.toggletext {
  font-size: 16px;
  background: var(--medium-bg);
  color: var(--light-text);
  float: left;
  outline: none;

}
.toggletext:hover{
  background: var(--dark-bg);
}

.close{
  display: none !important;
}

.expand{
  width: 100% !important;
}

.expandtext{
  width: 70% !important;
}
