
:root {
  --background-color: #171e28;
  --title-color:#5187b3;
  --text-color: #a0a7b3;
  --quote-color: #555555;
  --highlights-color: #90b876;
}

#renderedMarkdown {
  font-size: 1.25em;
  line-height: 2;
  color: var(--text-color);
  background: var(--background-color);
  overflow-wrap: break-word;
}

#renderedMarkdown a {
  color: var(--highlights-color);
  text-decoration: none;
  border-bottom: 1px dotted;
  overflow-x: scroll;
}

#renderedMarkdown b, strong {
  font-weight: bold;
  color: var(--highlights-color);
}

#renderedMarkdown em {
  font-style: italic;
  color: var(--highlights-color);
}

#renderedMarkdown blockquote {
  border-left: 2px solid var(--text-color);
  padding-left: 2em;
  margin: 2em 0;
  color: var(--quote-color);
}

#renderedMarkdown p {
  margin: 1em 0 1em 0;
}

#renderedMarkdown ul, #renderedMarkdown ol {
  margin: 0.5em 0 1.5em 2em;
}

#renderedMarkdown ul { list-style-type: disc; }
#renderedMarkdown ul ul { list-style-type: circle; }
#renderedMarkdown ul ul ul { list-style-type: square; }
#renderedMarkdown ul ul ul ul { list-style-type: disc; }
#renderedMarkdown ul ul ul ul ul { list-style-type: circle; }
#renderedMarkdown ul ul ul ul ul ul { list-style-type: square; }

#renderedMarkdown ol { list-style-type: decimal; }
#renderedMarkdown ol ol { list-style-type: upper-alpha; }
#renderedMarkdown ol ol ol { list-style-type: upper-roman; }
#renderedMarkdown ol ol ol ol { list-style-type: lower-alpha; }
#renderedMarkdown ol ol ol ol ol { list-style-type: lower-roman; }
#renderedMarkdown ol ol ol ol ol ol { list-style-type: lower-greek; }

#renderedMarkdown pre {
  overflow: auto;
  background-color: #333;
  padding: 6px 10px;
  border: 1px solid #222;
  border-radius: 3px;
}

#renderedMarkdown pre code {
  white-space: pre;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

#renderedMarkdown code, #renderedMarkdown tt {
  white-space: nowrap;
  background-color: #333;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 0 5px;
}

#renderedMarkdown h1 {
  color: var(--title-color);
  font-size: 2em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#renderedMarkdown h2, h3, h4, h5 {
  font-size: 1.5em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

/*
WINDOWS STYLING
*/

#markdowntext img{
  max-width: 100%;
  display: block;
  margin: 50px auto;
}

#inputContainer {
  width: 100%;
}

#markdowntext hr {
  margin: 50px 0px !important;
  height: 0px;
  border: 1px solid;
}

#cTitle {
  font-weight: bold;
  color: var(--title-color);
}

#cText {
  color: var(--text-color);
}

#cBg {
  background-color: var(--text-color);
  color: var(--background-color);
}

#cQuote {
  color: var(--quote-color);
}

#cHigh {
  background: var(--highlights-color);
  color: var(--background-color);
}

/*
BUTTON STYLING
 */

#toggleButton {
  color: var(--text-color);
}

#toggleButton:hover{
  color: var(--title-color);
}

