.rendered {
  font-size: 1.25em;
  line-height: 2;
  color: var(--text-color);
  background: var(--background-color);
  overflow-wrap: break-word;
}

.rendered a {
  color: var(--highlights-color);
  text-decoration: none;
  border-bottom: 1px dotted;
  overflow-x: scroll;
}

.rendered b, strong {
  font-weight: bold;
  color: var(--highlights-color);
}

.rendered em {
  font-style: italic;
  color: var(--highlights-color);
}

.rendered blockquote {
  border-left: 2px solid var(--text-color);
  padding-left: 2em;
  margin: 2em 0;
  color: var(--quote-color);
}

.rendered h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  padding: 0;
}

.rendered h1:first-child { margin-top: 0em; }
.rendered h1 b, .rendered h1 strong {
  color: var(--title-color);
  font-weight: bold;
}
.rendered h1 em {
  color: var(--title-color);
  font-style: italic;
}
.rendered h1 { font-size: 2em; margin-top: 1em; }
.rendered h2 { font-size: 1.5em; margin-top: 0.8em; }
.rendered h3 { font-size: 1.4em; margin-top: 0.7em; }
.rendered h4 { font-size: 1.3em; margin-top: 0.6em; }
.rendered h5 { font-size: 1.2em; margin-top: 0.6em; }
.rendered h6 { font-size: 1.1em; margin-top: 0.5em; }

.rendered p {
  margin: 0.25em 0 1em 0;
}

.rendered ul, .rendered ol {
  margin: 0.5em 0 1.5em 2em;
}

.rendered ul { list-style-type: disc; }
.rendered ul ul { list-style-type: circle; }
.rendered ul ul ul { list-style-type: square; }
.rendered ul ul ul ul { list-style-type: disc; }
.rendered ul ul ul ul ul { list-style-type: circle; }
.rendered ul ul ul ul ul ul { list-style-type: square; }

.rendered ol { list-style-type: decimal; }
.rendered ol ol { list-style-type: upper-alpha; }
.rendered ol ol ol { list-style-type: upper-roman; }
.rendered ol ol ol ol { list-style-type: lower-alpha; }
.rendered ol ol ol ol ol { list-style-type: lower-roman; }
.rendered ol ol ol ol ol ol { list-style-type: lower-greek; }

.rendered pre {
  overflow: auto;
  background-color: #333;
  padding: 6px 10px;
  border: 1px solid #222;
  border-radius: 3px;
}

.rendered pre code {
  white-space: pre;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.rendered code, .rendered tt {
  white-space: nowrap;
  background-color: #333;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 0 5px;
}

.rendered img{
  max-width: 100%;
  display: block;
  margin: 50px auto;
}

.rendered hr {
  margin: 50px 0px !important;
  height: 0px;
  border: 1px solid;
}

